
<ion-header class="Header">
<ion-navbar >
  <!--<button ion-button menuToggle>-->
    <!--<ion-icon name="menu"></ion-icon>-->
  <!--</button>-->
  <!--<ion-title >-->
    <!--<ion-icon name="md-contacts"></ion-icon>-->
    <!--Liste des Patients-->
  <!--</ion-title>-->
  <div data-role="header" data-position="fixed">
    <div class="nav_left_button"><a menuToggle class="nav-toggle"><span></span></a></div>
    <div class="nav_center_logo">Gérer les Patient</div>
    <ion-badge class="nblistbadge">{{items.length}}</ion-badge>
    <div class="clear"></div>
  </div>
</ion-navbar>

</ion-header>
<ion-content >

  <ion-refresher (ionRefresh)="getItems($event)" >
    <ion-refresher-content
      pullingText="Tirer pour rafraîchir"
      refreshingText="Rafraîchissant..."></ion-refresher-content>
  </ion-refresher>


    <ion-searchbar
      [(ngModel)]="searchQuery"
      (ionInput)="SerachItems($event.target.value)"
      [showCancelButton]="showSearchCancelButton"
      [placeholder]="Recherchebar"
      (ionCancel)="onCancelSearch()">
    </ion-searchbar>


  <ion-list>
    <!--<ion-list-header>Liste des Patients</ion-list-header>-->
    <ion-item-sliding *ngFor="let item of items" >
      <a ion-item (click)="openModal({clientObj: item})">
        <ion-thumbnail item-left>
          <img src="{{ImgProfile(item.datenaiss,item.sexe)}}">
        </ion-thumbnail>
        <span text-uppercase style="color: cornflowerblue;">{{item.prenom}} {{item.nom}}</span>
          <!--<ion-badge class="agebadge"><small></small></ion-badge></span>-->
        <span >
            <p><span text-uppercase><b>N° :</b>{{item.num_fich_patient}}</span>
              <span><b>Age:</b> {{getAge(item.datenaiss)}}Ans </span>
            </p>
            <p  *ngIf="item.AssurCnam!=''">
              <img style="width: 15px;" src="./assets/img/surgeon.png">
              <span text-uppercase>{{asssur[item.AssurCnam].nom_medc}}</span>
            </p>
        </span>
        <ion-note item-right style="margin-top: -40px;">
          <span *ngIf="item.AssurCnam!=''"><img style="width: 20px;height: 20px;margin-bottom: -2px;" src="./assets/img/cnam.png"></span>
          <span *ngIf="item.code_apci!=''"><img style="width: 19px; height: 14px; margin-top: -16px; " src="./assets/img/apci_logo_600w.png"></span>
          <span *ngIf="item.AutreAssur!=''"><img style="width: 23px; height: 15px; margin-top: -17px; " src="{{AutreAssurImg(item.AutreAssur)}}"></span>
        </ion-note>
        <hr/>
      </a>

    </ion-item-sliding>

  </ion-list>


</ion-content>
