<ion-header>
  <ion-navbar>
    <div data-role="header" data-position="fixed">
      <div class="nav_left_button"><a menuToggle class="nav-toggle"><span></span></a></div>
      <div class="nav_center_logo">Gérer Dossiers Médical</div>
      <ion-badge class="nblistbadge">{{consults.length}}</ion-badge>
      <div class="clear"></div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="getItems($event)" >
    <ion-refresher-content
      pullingText="Tirer pour rafraîchir"
      refreshingText="Rafraîchissant..."></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionInput)="filterItems($event.target.value)">
  </ion-searchbar>

  <div role="main" class="ui-content">
    <div class="pages_maincontent">
      <div class="page_content">

        <ul class="features_list_detailed">


          <li  *ngFor="let consult of consults">
            <div class="feat_small_icon"><img style="margin: 0px;" src="./assets/img/unnamed.png" alt="" title="" />
              <ion-badge class="numConsultBad" ><small>N°{{consult.num_consult}}</small></ion-badge></div>
            <div class="feat_small_details">
              <h4 style=" width: 120%; ">{{consult.type_consult}} le {{consult.date_consult.toString().substring(0,10)}}</h4>
              <a  data-transition="slidefade" *ngIf="consult.num_examen!=''">
                <span text-uppercase style="color:cornflowerblue;">Examen N°{{consult.num_examen}}</span>
                <div style="margin-left: 20px;">
                  <p class="rowp"><span>Pouls :{{examen[consult.num_examen].pouls}}</span>  <span>Temp :{{examen[consult.num_examen].temp}}</span>  <span>TA :{{examen[consult.num_examen].TA}}</span></p>
                  <p class="rowp"><span>Aires_gangl :{{examen[consult.num_examen].aires_gangl}}</span> </p>
                  <p class="rowp"><span>Auscu_cardi :{{examen[consult.num_examen].auscu_cardi}}</span> </p>
                  <p class="rowp"><span>Auscu_pleuro :{{examen[consult.num_examen].auscu_pleuro}}</span></p>
                  <p class="rowp"><span>Etat_general :{{examen[consult.num_examen].etat_general}}</span>  </p>
                  <p class="rowp"><span>Exam_phy :{{examen[consult.num_examen].exam_phy}}</span>  </p>
                  <p class="rowp"><span>Examen_abdominal :{{examen[consult.num_examen].examen_abdominal}}</span>  </p>
                  <p class="rowp"><span>Examen_ORL :{{examen[consult.num_examen].examen_ORL}}</span>  </p>
                </div>
              </a>
              <button ion-button clear class="plusDet" (click)="openModal({consultObj: consult,diag:diagnostic,ord:ordonnance,exm:examen})" >Plus de détails</button>
            </div>

          </li>



        </ul>

      </div>
    </div>

  </div>
</ion-content>
